<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
    </ol>
  </nav>

<h1>Dashboard</h1>

<h1>welcome </h1>
<a href="/logout">
<button >logout</button>
</a>