<h1 class="pb-4">Random</h1>

<div class="row row-cols-2 row-cols-lg-6 py-4 g-2 g-lg-3" id="latest">
    <% if(typeof random !== "undefined" ){ %>
            <a href="/Continent/<%=random._id %>" class="col text-center latest__link">
                <div class="latest__img shadow">
                    <img src="/image/<%-random.img  %>" alt="">
                </div>
                <div><%-random.name%></div>
            </a>  
    <% }%>
</div>   